:root{
    --color-verde-input:2px solid #2fe218;
    --color-verde:#2fe218;
}

html{
    font-size: 62.5%;
    margin: 0 0;
    padding: 0 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../multimedia/fondo.png);
}

.body__titulo{
    text-align: center;
    font-size: 50px;
    margin: 1.5rem 0;
    background-color: white;
    border: 2px solid black;
}

.principal__titulo{
    font-size: 3rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin: 0 0;
}

.principal__formulario{
    display: flex;
    flex-direction: column;
    font-size: large;
    margin: 2rem 0;
}

label{
    margin: 0.6rem 1rem;
    text-align:center;
    height: 2.8rem;
}

input{
    font-size: 1.5rem;
    text-align: center;
    width: 30rem;
}

input:hover{
    border: var(--color-verde-input);
}

input:focus{
    border: var(--color-verde-input);
    outline: none;
}

select{
    font-weight: bold;
    text-align: center;
}

select:hover{
    border: var(--color-verde-input);
} 

.button__solicitar, button{
    width: 15rem;
    height: 2.5rem;
    font-weight: bold;
}

.button_eliminar{
    width: 25rem;
}

button:hover{
    border: var(--color-verde-input);
    border-radius: 3px;
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

footer{
    margin: 1rem 0;
}

.principal__turnoynumero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#turno__ingreso{
    color: var(--color-verde);
}

#fecha__ingreso, #hora__ingreso{
    color: red;
}

.principal__turno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: large;
    text-align: center;
    font-size: 25px;
    width: 60rem;
    height: 34rem;
    background: white;
    border: 3px solid black;
    border-radius: 1rem;
    background-image: url(../multimedia/fondo2.png);
}

.principal__fecha_y_hora{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border-top: 3px solid black;
}

#fecha__ingreso, #hora__ingreso{
    font-size: 2rem;
}

.link__ingresar-usuarios, .link__ver-turnos{
    text-align: center;
    font-size: 4rem;
    margin-top: 3rem;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;

}

.panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.panel__titulo{
    font-size: 3rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin-top: 0;
}

.panel__turnos{
    width: 35rem;
    height: 32rem;
    background: white;
    border: 3px solid black;
    border-radius: 1rem;
    background-image: url(../multimedia/fondo2.png);
}

.panel__controles, .panel__controles2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: white;
    border: 3px solid black;
    border-radius: 1rem;
    width: 35rem;
    margin: 1rem 0;
}

.titulo__asignar-sala{
    font-size: medium;
}

.form__asignar-sala{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.div__todo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.form__eliminar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 1rem;
}

.input__eliminar-usuario{
    width: 14rem;
}

.panel__lista_ul{
    text-align: center;
    font-size: 3rem;
}

ul{
    padding: 0 0;
}

li{
    list-style-type:none;
    text-align: center;
    font-size: medium;
}

.turnoysala{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.impresion{
    text-align: center;
    margin: 1rem 0;
}

.btn__imprimir{
    font-weight: bold;
}

/*TABLA*/

table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    text-align: center;
}

th{
    margin: 1rem 5rem;
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: bold;
}

.tr__head{
    background-color: white;
    border: 2px solid black;
}

tr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    background-color: white;
}

.tr_append{
    border: 2px solid black;
    margin: 0.5rem;
    border-radius: 1rem;
}

td{
    font-size: 1.5rem;
}

.td_append_turno{
    font-weight: bolder;
    color: black;
}

.td_append_sala{
    font-weight: bolder;
    color: red;
}


/* PANTALLA USUARIOS */

.div__turnos{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    width: 90%;
    height: 70rem;
    margin: 0 auto;
    background-image: url(../multimedia/fondo2.png);
}

.lista__hora{
    font-size: 3rem;
    border: 3px solid black;
    margin: 1rem;
}

.lista__turnos{
    font-size: 3rem;
    border: 3px solid black;
    margin: 1rem;
    height: 50rem;
}

.lista__titulos{
    margin-top: 1rem;
    margin-bottom: 0;
}







