:root{
    --color-verde-input:2px solid #2fe218;
    --color-verde:#2fe218;
}

html{
    font-size: 62.5%;
    margin: 0 0;
    padding: 0 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../multimedia/fondo.png);
}

.body__titulo{
    text-align: center;
    font-size: 5rem;
    margin: 1rem 0;
    background-color: white;
    border: 2px solid black;
}

.principal__titulo{
    font-size: 3rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin: 0 0;
}

.principal__formulario{
    display: flex;
    flex-direction: column;
    font-size: large;
    margin: 2rem 0;
}

label{
    margin: 0.6rem 1rem;
    text-align:center;
    height: 2.8rem;
}

input{
    font-size: 1.5rem;
    text-align: center;
    width: 30rem;
}

input:hover{
    border: var(--color-verde-input);
}

input:focus{
    border: var(--color-verde-input);
    outline: none;
}

select{
    font-weight: bold;
    text-align: center;
}

select:hover{
    border: var(--color-verde-input);
} 

.button__solicitar, button{
    width: 15rem;
    height: 2.5rem;
    font-weight: bold;
    cursor:pointer;
    background:#2fe218;
    color: white;
    border: none;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.button_eliminar{
    width: 30rem;
}

.label__eliminar{
    margin: 1rem 0;
}

.form__asignar_sala{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
}

button:hover{
    background: red;
}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

footer{
    margin: 1rem 0;
}

.principal__turnoynumero{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

#turno__ingreso{
    color: var(--color-verde);
}

#fecha__ingreso, #hora__ingreso{
    color: red;
}

.principal__turno{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-size: large;
    text-align: center;
    font-size: 25px;
    width: 60rem;
    height: 32rem;
    background: white;
    border: 3px solid black;
    border-radius: 1rem;
    background-image: url(../multimedia/fondo2.png);
}

.principal__fecha_y_hora{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    border-top: 3px solid black;
}

.principal__fecha{
    width: 40rem;
    height: 12rem;
}

.principal__hora{
    width: 30rem;
    height: 12rem;
}

#fecha__ingreso, #hora__ingreso{
    font-size: 2rem;
}

.link__ingresar-usuarios, .link__ver-turnos{
    text-align: center;
    font-size: 4rem;
    margin: 0 0;
}

a{
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;

}

.panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
}

.panel__titulo{
    font-size: 3rem;
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin: 0 0;
}

.panel__turnos{
    width: 35rem;
    height: 32rem;
    background: white;
    border: 3px solid black;
    border-radius: 1rem;
    background-image: url(../multimedia/fondo2.png);
    overflow: auto;
}


.panel__controles, .panel__controles2{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: white;
    border: 3px solid black;
    border-radius: 1rem;
    width: 35rem;
}

.titulo__asignar-sala{
    font-size: medium;
    margin: 0.5rem 0;
}

.form__asignar-sala{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 11rem;
}

.div__todo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
}

.form__eliminar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin: 1rem;
}

.input__eliminar-usuario{
    width: 14rem;
}

.panel__lista_ul{
    text-align: center;
    font-size: 3rem;
}

ul{
    padding: 0 0;
}

li{
    list-style-type:none;
    text-align: center;
    font-size: medium;
}

.turnoysala{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.impresion{
    text-align: center;
    margin: 1rem 0;
}

.btn__imprimir{
    font-weight: bold;
}

/*TABLA*/

table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 1rem;
    text-align: center;
}

th{
    margin: 1rem 5rem;
    font-size: 2rem;
    text-align: center;
    color: black;
    font-weight: bold;
}

.tr__head{
    background-color: white;
    border: 2px solid black;
}

tr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    text-align: center;
    background-color: white;
}

.tr_append{
    border: 2px solid black;
    margin: 1rem;
    border-radius: 1rem;
}

td{
    font-size: 1.5rem;
}

.td_append_turno{
    font-weight: bolder;
    color: black;
}

.td_append_sala{
    font-weight: bolder;
    color: red;
}


/* PANTALLA USUARIOS */

.div__turnos{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    border: 3px solid black;
    width: 90%;
    height: 75rem;
    margin: 0 auto;
    background-image: url(../multimedia/fondo2.png);
}

.lista__hora{
    font-size: 3rem;
    border: 3px solid black;
    margin: 1rem;
}

.lista__turnos{
    font-size: 3rem;
    border: 3px solid black;
    margin: 1rem;
    height: 50rem;
}

.lista__titulos{
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 5rem;
}

#hora__actual{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 3rem auto;
    color: var(--color-verde);
    font-size: 10rem;
    background: white;
    max-width: 44rem;
    text-align: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
} /*Quita las flechas del input tipo number*/

input[type=number]{ /*Si no está esto, se puede aumentar el número con las flechitas*/
    -moz-appearance:textfield; 
}

/* MEDIAQUERIES */

@media screen and (max-width: 1440px){
    .div__turnos{
        height: 84rem;
    }
    .lista__turnos{
        height: 80rem;
    }
}

@media screen and (max-width: 1024px){

    .body__titulo{
        font-size: 4rem;
    }

    .div__todo{
        display: flex;
        flex-direction: column;
    }
    .panel{
        border-top: 2px solid black;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .panel__titulo, .panel__lista, .panel__controles, .panel__controles2{
        margin: 1rem 0;
    }

    .div__turnos{
        height: 70rem;
    }
    .lista__turnos{
        height: 90rem;
    }
}

@media screen and (max-width: 768px) {
    .div__turnos{
        height: 70rem;
    }
}

@media screen and (max-width: 425px){

    .body__titulo{
        font-size: 2rem;
    }

    .principal__turno{
        width: 40rem;
    }

    #hora__actual{
        font-size: 6rem;
    }

    .link__ingresar-usuarios, .link__ver-turnos{
        font-size: 2rem;
    }

    .div__turnos{
        height: 73rem;
    }
}

@media screen and (max-width: 375px){

    .div__turnos{
        height: 75rem;
    }

    .lista__titulos{
        font-size: 4rem;
    }
    .principal__turno{
        width: 35rem;
    }

    .principal__fecha_y_hora{
        font-size: 2rem;
    }
}

@media screen and (max-width: 320px){
    .principal__turno{
        width: 30rem;
    }

    .principal__fecha_y_hora{
        font-size: 2rem;
    }

    .tr__head{
        width: 30rem;
    }

    .panel__controles, .panel__controles2{
        width: 30rem;
    }

    input{
        width: 27rem;
    }

    .panel__turnos{
        width: 31rem;
    }

}




